
tr.tbon td a.info {
	display: block;
	position: relative;
	right: 10px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -30px;
	margin-top: 0px;

	background-image: url('chrome-extension://hnkgfpaamopphlecfiacponkgdjefknb/resources/information35.png');
	background-repeat: no-repeat;
	background-size: contain;

	z-index: 2;
}

tr.tbon td div.description {
	position: relative;
	right: 420px;
	bottom: 0px;
	width: 400px;
	height: 30px;
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: -30px;
	margin-top: 0px;
}